@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MVCTutorials.Models.Item
@{
}
<p>This is a sample paragraph for @Model.Name</p>